body {
    background-image: url('../img/gitlab-logo.png');
    background-repeat: no-repeat;
    background-position: left+15px bottom+15px;
}

.reveal h1, .reveal h2, .reveal h3 {
    color: #e24329;
}

.title h2, .reveal h4, .reveal h5, .reveal h6 {
    color: #fc6d26;
}

#sources-link {
    font-size: 0.3em;
    color: #aaa;
}

#sources-link a {
    color: #888;
}

#sources-link a:hover {
    color: #999;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: unset;
}

.title h1 {
    font-size: 1.1em;
}

.title h2 {
    font-size: 0.9em;
}

.title h1, .title h2 {
    text-transform: uppercase;
}

.title p {
    font-size: 0.65em;
}

.title img {
    border: 0!important;
    box-shadow: unset!important;
    max-height: 80px;
}

.reveal h3 {
    font-size: 0.8em;
}

.reveal h4 {
    font-size: 0.7em;
}

.reveal p, .reveal ul, .reveal ol {
    font-size: 0.65em;
}

.reveal section img {
    border-color: #e5e5e5;
    border-width: 1px;
}

.reveal pre code {
    font-size: 0.75em;
}
